:root{
  --principal-bg-color: #0033aa;
  --principal-text-color: azure;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  font-size: 20px;
  color: aqua;
  text-transform: uppercase;
}
label {
  display: block;
}
input {
  background-color: var(--principal-bg-color);
  color: var(--principal-text-color);
  width: 200px;
}
textarea {
  background-color: var(--principal-bg-color);
  color: var(--principal-text-color);
  width: 200px;
}
button {
  background-color: var(--principal-bg-color);
  text-decoration: solid;
  
  color: var(--principal-text-color);
  border-radius: 10px;
  padding: 5px 20px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--principal-bg-color);
  height: 600px;
  width: 650px;
}

.images > img {
  height: 200px;
  margin: 20px;
}